body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000;
  font-weight: 400;
  font-style: normal;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: rgb(238, 54, 67);
  color: #fff;
}

.button:hover,
.button:focus {
  background-color: rgb(202, 44, 55);
}

.button:active {
  background-color: rgb(186, 39, 50);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(243, 247, 249);
  width: 100%;
}

.main-user-navigation {
  background-color: rgb(41, 52, 73);
  width: 100%;
  margin-bottom: 10px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-user-navigation-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-header ul {
  list-style: none;
}

.button-logo {
  max-width: 220px;
  margin: 0;
  padding: 9px 55px;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  background-color: rgb(238, 54, 67);
  box-shadow: 0 5px 0 rgb(181, 41, 51);
  vertical-align: middle;
  text-transform: uppercase;
}

.button-logo:hover,
.button-logo:focus {
  background-color: rgb(202, 44, 55);
}

.button-logo:active {
  background-color: rgb(186, 39, 50);
}

.header-search {
  margin: 0;
  padding: 0;
  max-width: 270px;
  background-color: rgb(41, 52, 73);
  color: #fff;
  cursor: pointer;
}

.header-search {
  position: relative;
  cursor: pointer;
}

.header-search input {
  width: 270px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 50px;
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  background-color: rgb(41, 52, 73);
  border: none;
}

.search-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 42px;
  padding-top: 1px;
  background-color: transparent;
  border: none;
  opacity: 0.7;
}

input[type="search"]::placeholder {
  color: #fff;
  opacity: 1;
}

input[type="search"]:focus::placeholder {
  color: #000;
  opacity: 1;
}

.header-search:hover input {
  background-color: rgb(33, 42, 58);
  color: #fff;
}

.header-search:hover button {
  opacity: 1;
}

.header-search input:focus {
  background-color: #fff;
  color: #000;
}

.header-search input:focus + button path {
  fill: rgb(238, 54, 67);
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  width: 450px;
  margin: 0;
  padding: 0;
}

.user-navigation a {
  position: relative;
  display: block;
  width: 105px;
  font-size: 17px;
  line-height: 18px;
  padding: 12px 0;
  padding-left: 45px;
  background-color: rgb(41, 52, 73);
  color: rgb(255, 255, 255);
}

.user-navigation a:hover {
  background-color: rgb(33, 42, 58);
}

.user-navigation a:active {
  color: rgb(255, 255, 255, 0.6);
}

.bookmark::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 16px;
  height: 18px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-navigation .basket::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 16px;
  height: 18px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.basket span {
  padding-left: 10px;
}

.bookmark:hover::before,
.basket:hover::before {
  opacity: 1;
}

.bookmark:active::before,
.basket:active::before {
  opacity: 0.5;
}

.bookmark span {
  padding-left: 5px;
}

.user-navigation .main-basket {
  background-color: rgb(238, 54, 67);
}

.user-navigation .main-basket::after {
  content: "10";
}

.user-navigation .checkout {
  width: 130px;
  padding-left: 20px;
  background-color: rgb(99, 166, 62);
}

.user-navigation .checkout:hover,
.user-navigation .checkout:focus {
  background-color: rgb(95, 187, 45);
}

.user-navigation .checkout:active {
  opacity: 0.4;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 940px;
  height: 120px;
  margin-bottom: 15px;
}

.score-title {
  width: 210px;
  padding: 21px 20px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 23px;
  color: rgb(238, 54, 67);
  font-style: italic;
}

.score-contacts {
  width: 270px;
  margin-top: 13px;
  margin-left: 40px;
}

.phone {
  padding: 10px 0;
  font-size: 21px;
  line-height: 21px;
  color: rgb(238, 54, 67);
  border: 3px solid #fff;
  margin-bottom: 5px;
}

.phone span {
  padding-left: 13px;
  padding-right: 34px;
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: rgb(50, 66, 92);
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 1px;
}

.wrapper .user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 280px;
  margin-top: 47px;
  margin-left: 30px;
}

.wrapper .user a {
  font-size: 21px;
  line-height: 21px;
  color: #000;
  background-color: #fff;
}

.entrance {
  width: 125px;
  padding-left: 40px;
}

.entrance .input-profile {
  padding: 13px 0;
  padding-right: 23px;
}

.entrance span {
  padding: 15px 14px;
}

.check-in {
  width: 110px;
}

.check-in a {
  padding: 13px 24px;
}

.entrance a:hover,
.check-in a:hover,
.entrance a:focus,
.check-in a:focus {
  color: rgb(238, 54, 67);
}

.entrance:hover path,
.entrance:focus path {
  fill: #000;
}

.user a:active {
  color: rgba(0, 0, 0, 0.7);
}

.entrance:active path {
  fill: #c5c5c5;
}

.user-login {
  width: 300px;
  padding: 10px 0;
}

.profile {
  position: relative;
  width: 300px;
  padding: 10px 0;
  padding-left: 44px;
  padding-right: 68px;
}

.icon-profile {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 20px;
  height: 18px;
}

.output-profile {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 21px;
  height: 17px;
}

.icon-profile:hover path,
.icon-profile:focus path,
.output-profile:hover path,
.output-profile:focus path {
  fill: #000;
}

.profile:hover,
.profile:focus {
  color: #000;
}

.orders {
  position: relative;
  width: 240px;
  padding: 10px 0;
}

.main-orders {
  position: absolute;
  top: 0;
  left: 15px;
  width: 77px;
}

.main-orders a {
  position: relative;
}

.main-orders a::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 90px;
  width: 4px;
  height: 5px;
  background: url("../img/point.png") no-repeat 0 0;
}

.user-cab {
  position: absolute;
  top: 0;
  left: 123px;
  width: 105px;
}

.orders a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: rgb(50, 66, 92);
  background-color: rgb(243, 247, 249);
}

.orders a:hover,
.orders a:focus {
  color: rgb(238, 54, 67);
}

.orders a:active {
  color: rgb(50, 66, 92);
  opacity: 0.7;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 940px;
  padding: 0 13px;
  margin-bottom: 65px;
  background-color: rgb(50, 66, 92);
  box-shadow: 0 5px 0 rgb(41, 52, 73);
}

.site-navigation a {
  display: block;
  padding: 21px 30px;
  font-size: 17px;
  line-height: 17px;
  color: #fff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: rgb(41, 52, 73);
}

.site-navigation a:active {
  opacity: 0.5;
}

.base {
  width: 100%;
  background-color: #fff;
}

.base ul {
  list-style: none;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 940px;
  margin: 0 auto;
  padding: 18px 0;
}

.breadcrumbs a {
  display: block;
  padding: 0 15px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000;
}

.breadcrumbs .icon {
  padding-left: 0;
  padding-right: 13px;
}

.base h1 {
  margin: 0 auto;
  padding: 0;
  padding: 30px 0;
  padding-left: 28px;
  margin-bottom: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  color: rgb(50, 66, 92);
  text-transform: uppercase;
  background-color: rgb(242, 246, 248);
}

.catalog-item-columns {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.catalog {
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
}

.catalog-items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.catalog-items.inner {
  width: 700px;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.catalog-item {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  width: 218px;
  height: 315px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
}

.catalog-item.last {
  margin-right: 0;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/flag.png") no-repeat 0 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.catalog-item .discount {
  min-height: 20px;
  margin-top: -7px;
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #999;
  text-decoration: line-through;
}

.catalog-item .price {
  position: relative;
  width: 80px;
  margin: 0 auto;
  margin-bottom: 17px;
  padding: 11px 30px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item .price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.sort {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.sort h2 {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000;
}

.title-filter {
  width: 200px;
  margin: 0;
  padding: 8px 0;
  padding-left: 18px;
  background-color: rgb(247, 243, 236);
}

.sort-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 700px;
  background-color: rgb(247, 243, 236);
}

.title-sort {
  margin: 0;
  padding: 8px 0;
  padding-left: 18px;
  padding-right: 105px;
}

.sort-items {
  display: flex;
  flex-wrap: wrap;
  width: 355px;
  margin: 0;
  padding: 0;
}

.sort-item {
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: rgb(238, 54, 67);
  text-decoration-style: dotted;
}

.sort-item.price {
  position: absolute;
  top: 7px;
  left: 238px;
}

.sort-item.type {
  position: absolute;
  top: 7px;
  right: 284px;
}

.sort-item.funct {
  position: absolute;
  top: 7px;
  right: 110px;
}

.sort-item:focus,
.sort-item:hover {
  color: #000;
}

.sort-item.current {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgb(238, 54, 67);
  text-decoration: none;
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
  width: 75px;
  padding: 3px 5px;
}

.button-wrapper a:hover path,
.button-wrapper a:focus path {
  fill: #231f20;
}

.button-wrapper a:active path {
  fill: #ee3643;
}

.filter-item {
  width: 220px;
  margin: 0;
  padding: 0;
  border: none;
}

.filter-item.price,
.filter-item.brand {
  padding-bottom: 25px;
  border-bottom: 1px solid #c5c5c5;
}

.filters legend,
.filters h3 {
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
}

.filters legend {
  margin-top: 13px;
}

.range-filter {
  width: 220px;
  margin-top: 15px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f3ec;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #fff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  margin-top: -5px;
  font-size: 0;
}

.price-controls input {
  width: 75px;
  padding: 10px 10px;
  margin-left: 0;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #000;
  border: none;
  border-radius: 5px;
  background: #f7f3ec;
}

.price-controls input::after {
  content: "-";
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 18px;
}

.filter-option {
  margin-bottom: 19px;
  padding-left: 1px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: 2px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox + label:focus::before {
  background-image: url("../img/checkbox-off-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:disabled + label::after {
  opacity: 0.7;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -38px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label:hover::after,
.filter-input-checkbox:checked + label:focus::after {
  background-image: url("../img/checkbox-on-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -34px;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label:hover::before,
.filter-input-radio + label:focus::before {
  background-image: url("../img/radio-off-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:disabled + label::after,
.filter-input-radio:disabled + label::before {
  opacity: 0.7;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -34px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label:hover::after,
.filter-input-radio:checked + label:focus::after {
  background-image: url("../img/radio-on-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.checkbox,
.radio {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000;
}

.filter-submit {
  width: 140px;
  margin-top: 50px;
  margin-left: 0;
  padding: 10px 0;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
}

.avantages {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 54px;
  margin-bottom: 55px;
  padding: 0;
}

.category {
  position: relative;
  display: inline-block;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  width: 300px;
}

.category h3 {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 22px;
  margin-left: 22px;
}

.category a {
  position: absolute;
  bottom: 20px;
  left: 24px;
  width: 135px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.category a:hover,
.category a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.category a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.category.materials {
  height: 123px;
  margin: 0;
  background-color: rgb(255, 191, 71);
  order: 1;
}

.button.materials {
  display: block;
  padding: 10px 0;
  background-color: rgb(229, 172, 69);
}

.category.materials::after {
  content: "";
  position: absolute;
  right: 38px;
  top: 32px;
  width: 50px;
  height: 70px;
  background: url(../img/icon-1.svg) no-repeat 0 0;
}

.materials .flag {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.materials .flag-new {
  background: url("../img/flag.png") no-repeat 0 0;
}

.category.tool {
  height: 123px;
  margin-left: 20px;
  background-color: rgb(59, 188, 227);
  order: 2;
}

.button.tool {
  display: block;
  padding: 10px 0;
  background-color: rgb(53, 169, 204);
}

.category.tool::after {
  content: "";
  position: absolute;
  right: 21px;
  top: 33px;
  width: 80px;
  height: 70px;
  background: url(../img/icon-2.svg) no-repeat 0 0;
}

.category.equipment {
  height: 123px;
  margin-left: 20px;
  background-color: rgb(220, 145, 216);
  order: 3;
}

.button.equipment {
  display: block;
  padding: 10px 0;
  background-color: rgb(198, 130, 194);
}

.category.equipment::after {
  content: "";
  position: absolute;
  right: 27px;
  top: 32px;
  width: 80px;
  height: 70px;
  background: url(../img/icon-3.svg) no-repeat 0 0;
}

.category-wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 20px;
  margin-left: 20px;
  order: 5;
}

.category.discounts {
  height: 123px;
  margin-bottom: 20px;
  background-color: rgb(142, 215, 143);
}

.button.discounts {
  display: block;
  padding: 10px 0;
  background-color: rgb(128, 193, 128);
}

.category.discounts::after {
  content: "";
  position: absolute;
  right: 24px;
  top: 28px;
  width: 80px;
  height: 70px;
  background: url(../img/icon-4.svg) no-repeat 0 0;
}

.category.delivery {
  width: 300px;
  height: 123px;
  background-color: rgb(255, 192, 71);
}

.button.delivery {
  display: block;
  padding: 10px 0;
  background-color: rgb(229, 172, 64);
}

.category.delivery::after {
  content: "";
  position: absolute;
  right: 28px;
  top: 32px;
  width: 80px;
  height: 70px;
  background: url(../img/icon-5.svg) no-repeat 0 0;
}

.slider-content {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  height: 266px;
  margin-top: 20px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  order: 4;
}

.slider.visually {
  position: relative;
}

.slider.visually h3 {
  position: absolute;
  top: -12px;
  left: 22px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slider.visually img {
  display: block;
  position: relative;
}

.slider.title::before {
  content: "";
  position: absolute;
  top: 196px;
  left: 273px;
  width: 10px;
  height: 10px;
  background: url("../img/slider.png");
}

.slider-second.title::before {
  content: "";
  position: absolute;
  top: 196px;
  left: 273px;
  width: 10px;
  height: 10px;
  background: url("../img/slider-indicator.png");
}

.slider.title::after {
  content: "";
  position: absolute;
  top: 196px;
  left: 293px;
  width: 10px;
  height: 10px;
  background: url("../img/slider-indicator.png");
}

.slider-second.title::after {
  content: "";
  position: absolute;
  top: 196px;
  left: 293px;
  width: 10px;
  height: 10px;
  background: url("../img/slider.png");
}

.slider.visually p {
  position: absolute;
  top: 42px;
  left: 24px;
  font-size: 18px;
  line-height: 24px;
}

.slider.visually a {
  position: absolute;
  bottom: 20px;
  left: 25px;
  width: 195px;
  text-align: center;
}

.button.open {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 190px;
  padding: 10px 0;
}

.slider-next::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 20px;
  height: 40px;
  background: url("../img/icon-left.svg") no-repeat 0 0;
}

.slider-back::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 5px;
  width: 20px;
  height: 40px;
  background: url("../img/icon-right.svg") no-repeat 0 0;
}

.slider.visually .slider-back {
  position: absolute;
  bottom: 110px;
  right: 20px;
  border: 0;
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

.slider.visually .slider-next {
  position: absolute;
  bottom: 110px;
  left: 20px;
  border: 0;
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

.slider.hidden {
  display: none;
}

.popular-goods,
.brands {
  display: flex;
  flex-wrap: wrap;
}

.popular-items,
.popular-brands {
  display: block;
  position: relative;
  width: 940px;
  height: 90px;
  margin-bottom: 20px;
  background-color: rgb(243, 247, 249);
}

.popular-items h2,
.popular-brands h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  color: rgb(50, 66, 92);
  background-color: rgb(243, 247, 249);
  text-transform: uppercase;
  margin-top: 30px;
  margin-left: 32px;
}

.popular-items a,
.popular-brands a {
  position: absolute;
  width: 255px;
  bottom: 25px;
  right: 20px;
  text-align: center;
}

.button.pop-goods,
.button.brand {
  display: block;
  padding: 11px 0;
}

.brands-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 65px;
  padding: 0;
}

.brands-item {
  width: 218px;
  height: 145px;
  background-color: #fff;
}

.brands-item {
  border: 1px solid rgb(243, 247, 249);
}

.brands-item:hover,
.catalog-item:hover,
.catalog-item:focus,
.brands-item:focus {
  box-shadow: 10px 0 25px 0 rgba(41, 52, 73, 0.5);
}

.brands-item:active {
  box-shadow: 4px 0 10px 0 rgba(41, 52, 73, 0.5);
}

.brands-item.bosch {
  margin-bottom: 20px;
}

.brands-item.bosch img {
  padding: 54px 47px;
}

.brands-item.makita {
  margin-bottom: 20px;
  margin-left: 20px;
}

.brands-item.makita img {
  padding: 52px 48px;
}

.brands-item.dewalt {
  margin-bottom: 20px;
  margin-left: 20px;
}

.brands-item.dewalt img {
  padding: 50px 36px;
}

.brands-item.intersckol {
  margin-bottom: 20px;
  margin-left: 20px;
}

.brands-item.intersckol img {
  padding: 39px 0;
}

.brands-item.hitachi img {
  padding: 57px 25px;
}

.brands-item.lg {
  margin-left: 20px;
}

.brands-item.lg img {
  padding: 36px 49px;
}

.brands-item.aeg {
  margin-left: 20px;
}

.brands-item.aeg img {
  padding: 24px 34px;
}

.brands-item.metabo {
  margin-left: 20px;
}

.brands-item.metabo img {
  padding: 38px 8px;
}

.filter-price {
  background-color: rgb(247, 243, 236);
  color: #fff;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 30px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item {
  margin-right: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #000;
  border: 1px solid rgb(229, 229, 229);
}

.pagination-item a {
  display: block;
  padding: 10px 15px;
  color: #000;
  background-color: #fff;
}

.pagination-item:hover,
.pagination-item:focus {
  border: 1px solid rgb(189, 198, 202);
}

.pagination-item:active {
  border: 1px solid rgb(238, 54, 67);
}

.pagination-item-current a {
  color: #fff;
  background-color: rgb(238, 54, 67);
}

.pagination-item.button {
  width: 135px;
  margin-left: 5px;
  font-size: 13px;
  line-height: 18px;
  color: #000;
  background-color: #fff;
  text-align: center;
}

.slider-service {
  background-color: rgb(243, 247, 249);
  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 58px;
}

.service-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url("../img/line-shadow.png");
  background-repeat: no-repeat;
  background-position: 275px 170px;
}

.service-shop {
  width: 940px;
  margin: 0;
  padding: 0;
  margin-left: 0;
}

.service-shop h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}

.slider-service h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  color: rgb(50, 66, 92);
  text-transform: uppercase;
}

.slider-service p {
  font-size: 13px;
  line-height: 24px;
  color: #000;
}

.service-delivery {
  display: flex;
  justify-content: space-between;
  width: 940px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  margin: 0;
  padding: 0;
  margin-top: 75px;
}

.service-list button {
  display: block;
  width: 240px;
  margin-bottom: -1px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  line-height: 30px;
  color: #fff;
  text-align: left;
  background-color: rgb(50, 66, 92);
  border: none;
}

.service-list button:hover {
  background-color: rgb(29, 34, 49);
}

.service-list .active,
.service-list .active:hover {
  background-color: #fff;
  color: rgb(50, 66, 92);
}

.service-list .lower {
  box-shadow:
  inset 0 1px 0 0 #293449,
  0 1px 0 0 #405069;
}

.service-text.delivery,
.service-text.guarantee,
.service-text.credit {
  display: block;
  position: relative;
  width: 620px;
}

.service-text.delivery::after {
  content: "";
  position: absolute;
  top: 60px;
  left: 150px;
  width: 468px;
  height: 261px;
  background: url("../img/delivery.png") no-repeat 0 0;
}

.service-guarantee {
  display: none;
  justify-content: space-between;
  width: 940px;
}

.service-text.guarantee::after {
  content: "";
  position: absolute;
  top: 60px;
  left: 240px;
  width: 468px;
  height: 261px;
  background: url("../img/guarantee.png") no-repeat 0 0;
}

.service-credit {
  display: none;
  justify-content: space-between;
  width: 940px;
}

.service-text.credit::after {
  content: "";
  position: absolute;
  top: 60px;
  left: 240px;
  width: 468px;
  height: 261px;
  background: url("../img/credit.png") no-repeat 0 0;
}

.button.send {
  display: block;
  width: 195px;
  padding: 10px 0;
  text-align: center;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-top: 75px;
  padding-bottom: 85px;
  padding-left: 10px;
  padding-right: 10px;
}

.details {
  display: flex;
  flex-wrap: wrap;
  width: 540px;
  margin: 0;
  padding: 0;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 0;
  padding: 0;
}

.details h2,
.contacts h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
}

.details p,
.contacts p {
  font-size: 13px;
  line-height: 24px;
}

.details-item li {
  display: block;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  padding: 6px 0;
}

.details-item li::before {
  content: "";
  position: absolute;
  top: 15px;
  left: -30px;
  width: 25px;
  height: 2px;
  background: url("../img/red-line.png") no-repeat 0 0;
}

.button.company {
  display: block;
  width: 220px;
  margin-top: 40px;
  padding: 10px 0;
  text-align: center;
}

.button.map {
  display: block;
  width: 300px;
  margin-top: 40px;
  padding: 10px 0;
  text-align: center;
}

.info-tools {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 65px;
  padding-left: -5px;
  background-color: rgb(242, 246, 248);
}

.info-tools h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}
.info-tools p {
  font-size: 13px;
  line-height: 24px;
  color: #000;
}

.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  background-color: rgb(50, 66, 92);
  color: #fff;
  font-size: 18px;
  line-height: 24px;
}

.main-footer ul {
  list-style: none;
}

.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0;
  padding: 0;
}

.button-logo.footer {
  max-width: 220px;
  margin-bottom: 20px;
  padding: 16px 45px;
  font-size: 30px;
  line-height: 30px;
}

.footer-site-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 570px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: auto;
}

.footer-site-navigation a {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  vertical-align: middle;
}

.footer-catalog-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 525px;
  margin-top: 0;
  margin-bottom: 57px;
  margin-left: auto;
  margin-right: 0;
  padding: 0;
}

.footer-catalog-navigation a {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  vertical-align: middle;
}

.footer-contacts {
  width: 330px;
  margin: 0;
  padding: 10px 20px;
  padding-left: 0;
}

.footer-catalog-navigation a:hover,
.footer-catalog-navigation a:focus,
.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
  text-decoration: underline;
}

.footer-catalog-navigation a:active,
.footer-site-navigation a:active {
  opacity: 0.5;
}

.footer-catalog-navigation a {
  color: rgb(255, 217, 150);
}

.catalog-navigation a:active {
  opacity: 0.5;
}

.footer-item {
  background-color: rgb(41, 52, 73);
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  width: 100%;
  margin-top: 0;
}

.footer-index-columns {
  display: flex;
  justify-content: space-between;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 130px;
  margin: 0 auto;
  padding: 30px 5px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  background-color: #000;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.footer-copyright {
  margin-left: 0;
  padding: 15px 5px;
}

.footer-feedback {
  display: flex;
  flex-wrap: wrap;
  width: 140px;
  padding: 30px 5px;
}

.footer-develop {
  display: flex;
  flex-wrap: wrap;
  width: 140px;
  padding: 30px 5px;
}

.footer-develop a,
.footer-feedback a {
  color: rgb(255, 217, 150);
}

.footer-develop a:hover,
.footer-develop a:focus,
.footer-feedback a:hover,
.footer-feedback a:focus {
  text-decoration: underline;
}

.footer-develop a:active,
.footer-feedback a:active {
  color: rgb(238, 54, 67);
}

.modal {
  position: fixed;
  color: #000;
}

.modal.write-us {
  display: none;
  top: 120px;
  left: 50%;
  width: 620px;
  margin-left: -230px;
  background-color: #fff;
  border-top: 7px solid rgb(255, 83, 87);
  box-shadow: 20px 0 40px 0 rgba(41, 52, 73, 0.25);
}

.modal-close {
  position: absolute;
  top: 5px;
  right: 9px;
  width: 23px;
  height: 23px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 21px;
  height: 3px;
  background-color: rgb(238, 54, 67);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.write-us form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 460px;
  padding-top: 45px;
  padding-bottom: 35px;
  padding-left: 80px;
  padding-right: 80px;
}

.write-us label {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
  color: #000;
  background-color: #fff;
}

.write-us::placeholder,
.write-us textarea {
  font-size: 13px;
  line-height: 18px;
  color: rgb(169, 169, 169);
  border: 2px solid rgb(169, 169, 169);
  border-radius: 3px;
}

.name-form,
.email-form {
  position: relative;
  width: 200px;
  padding: 10px 10px;
  border: 2px solid rgb(169, 169, 169);
  border-radius: 3px;
}

.name-title {
  position: absolute;
  top: 40px;
  left: 80px;
}

.email-title {
  position: absolute;
  top: 40px;
  right: 228px;
}

.letter-form {
  position: relative;
  width: 440px;
  padding: 10px 10px;
}

.letter-title {
  position: absolute;
  top: 105px;
  left: 80px;
}

.button-submit {
  width: 620px;
  padding-top: 57px;
  padding-bottom: 57px;
  background-color: rgb(244, 244, 244);
}

.button.write-us {
  position: absolute;
  bottom: 35px;
  width: 460px;
  margin-left: 80px;
  padding: 10px 0;
}

.modal-map {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  width: 940px;
  height: 446px;
  margin-top: -135px;
  margin-bottom: 65px;
  box-shadow: 8px 0 16px 0 rgba(47, 42, 43, 0.5);
}

.modal.modal-choice {
  display: none;
  top: 120px;
  left: 50%;
  width: 620px;
  margin-left: -230px;
  background-color: #fff;
  border-top: 7px solid rgb(255, 83, 87);
  box-shadow: 20px 0 40px 0 rgba(41, 52, 73, 0.25);
}

.modal-choice-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.title-choice {
  position: relative;
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 180px;
  padding-right: 130px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  color: #000;
  background-color: #fff;
}

.title-choice::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 100px;
  width: 66px;
  height: 66px;
  background: url("../img/form.png") no-repeat 0 0;
}

.modal-choice-button {
  width: 620px;
  padding: 55px 0;
  background-color: rgb(241, 241, 241);
}

.button.check {
  position: absolute;
  bottom: 45px;
  left: 80px;
  width: 220px;
  padding: 10px 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(238, 54, 67);
}

.button.continue {
  position: absolute;
  bottom: 45px;
  right: 80px;
  width: 220px;
  padding: 10px 0;
  text-align: center;
  color:#000;
  background-color: #fff;
}
