body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans",Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  font-style: normal;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;

img {
  max-width: 100%;
  height: auto;
}

}
.button {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: rgb(238, 54, 67);
  color: #ffffff;
}

.button:hover,
.button:focus {
 background-color: rgb(202, 44, 55);
}

.button:active {
  background-color: rgb(186, 39, 50);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(243, 247, 249);
  margin-bottom: 60px;
  width: 100%;
}

.main-user-navigation {

  background-color: rgb(41, 52, 73);
  width: 100%;
}

.container,
.main-user-navigation-wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-user-navigation-wrapper {
  display: flex;

}

.main-header ul {
  list-style: none;
}

.button-logo {
  max-width: 220px;
  margin: 0;
  padding: 10px 55px;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  background-color: rgb(238, 54, 67);
  box-shadow: 0 5px 0 rgb(181, 41, 51);
  vertical-align: middle;
  text-transform: uppercase;
}

.button-logo:hover,
.button-logo:focus {
  background-color: rgb(202, 44, 55);
}

.button-logo:active {
  background-color: rgb(186, 39, 50);
}

.header-search {
  display: flex;
  margin: 0;
  padding: 0;
  max-width: 270px;

}

.search-text  {
  position: relative;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 50px;
  padding-right: 40px;
  font-size: 17px;
  line-height: 18px;
  background-color: rgb(41, 52, 73);
  color: #ffffff;
  border: 1px solid rgb(41, 52, 73);
}


.search-text::before {
  content: "10";


}


.search-text:focus {
  background-color: rgb(33, 42, 58);
}

.search-text:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

.user-navigation {
  display: flex;


  width: 450px;
  margin: 0;
  padding: 0;

}


.user-navigation div {
  display: block;
  font-size: 17px;
  line-height: 18px;
  padding: 13px 20px;
  background-color: rgb(41, 52, 73)
  color: #ffffff;
}

.user-navigation .user-navigation-item {
  display: flex;
  max-width: 150px;
}

.user-navigation a:hover {
  background-color: rgb(33, 42, 58)
}

.user-navigation a:active {
  opacity: 0.4;
}

.user-navigation .bookmark,
.user-navigation .basket {
  position: relative;
  padding-left: 50px;
}

.bookmark::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 8px;

  width: 16px;
  height: 18px;

  background-image: url("img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.bookmark::after {
  content: "0";
}

.basket::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 16px;
  height: 18px;
  background-color: ;
  background-image: url("img/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.basket::after {
  content: "0";
}

.user-navigation .main-basket{
  background-color: rgb(238, 54, 67);
}

.user-navigation .checkout {

  padding: 13px 25px;
  background-color: rgb(99, 166, 62);
}

.user-navigation .checkout:hover,
.user-navigation .checkout:focus {
  background-color: rgb(95, 187, 45);
}

.user-navigation .checkout:active {
  opacity: 0.4;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
}

.main-navigation .score-title {
  min-width: 240px;
  padding: 0;
  margin-top: 50px;
  margin-left: 60px;
  font-size: 16px;
  line-height: 23px;
  color: rgb(238, 54, 67);
  font-style: italic;
  text-align: left;
}

.score-contacts {
  min-width: 270px;
  margin-top: 45px;
  margin-left: 70px;
  padding: 0;
}

.main-navigation .phone {
  margin-bottom: 5px;
  font-size: 21px;
  line-height: 21px;
  color: rgb(238, 54, 67);
  border: 3px solid #ffffff;
}

.main-navigation .address {
  font-size: 14px;
  line-height: 24px;
  color: rgb(50, 66, 92);
  white-space: nowrap;
}

.user {
  min-width: 280px;
  margin-top: 45px;
  /*margin-right: 120px;*/
  margin-left: 70px;
  padding: 0;

}

.user-entrance,
.profile  {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-entrance:hover,
.user-entrance:focus {
  color: rgb(238, 54, 67);
}

.user-entrance:active {
  opacity: 0.7;
}

.profile:active {
  background-color: #ffffff;
  opacity: 0.7;
}

.orders a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: rgb(50, 66, 92);
}

.orders a:hover,
.orders a:focus {
  color: rgb(238, 54, 67);
}

.orders a:active {
  color: rgb(50, 66, 92);
  opacity: 0.7;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background-color: rgb(50, 66, 92);
  box-shadow: 0 5px 0 rgb(41, 52, 73);

}

.site-navigation a {
  display: block;
  padding: 10px 30px;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: rgb(41, 52, 73);
}

.site-navigation a:active {
  opacity: 0.5;
}

.base {
  width: 100%;
  background-color:#ffffff;
}

.base ul {
  list-style: none;
}

.breadcrumbs a,
.breadcrumbs-current {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.base h1 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  color: rgb(50, 66, 92);
  text-transform: uppercase;
  background-color: rgb(242, 246, 248);
}

.catalog-index-columns {
  display: flex;
  justify-content: space-between;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  width: 700px;
}

.catalog-item-title a {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.catalog-item-price b {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: rgb(169, 169, 169);
}

.catalog-item-price .price {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: rgb(238, 54, 67);
}

.button.pay {
  color: #ffffff;
  background-color: rgb(99, 166, 62);
  box-shadow: 0 3px 0 rgb(54, 115, 21);
}

.button.pay:hover,
.button.pay:focus {
  background-color: rgb(95, 187, 45);
}

.button.pay:active {
  background-color: rgb(54, 115, 21);
}

.button.bookmarks {
  color: rgb(50, 66, 92);
  background-color: #ffffff;
  border: 3px solid rgb(99, 166, 62);
}

.button.bookmarks:hover,
.button.bookmarks:focus {
  border: 3px solid rgb(50, 66, 92);
}

.button.bookmarks:active {
  opacity: 0.7;
}

.sort {
  background-color: rgb(247, 243, 236);
  display: flex;
  justify-content: space-between;
}

.sort-index-column {

}

.sort h2 {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  background-color: rgb(247, 243, 236);
}

.title-filter {
  width: 220px;
}

.sort-wrapper {
  display: flex;
  justify-content: space-between;
}

.sort-item {
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  border-bottom: 1px solid rgb(238, 54, 67);
}

.sort-item:focus,
.sort-item:hover {
  color: #000000;
}

.sort-item-current {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgb(238, 54, 67);
}

.filters fieldset {
  border: none;
}

.filters legend,
.filters h3 {
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.price-value {
  display: flex;
  justify-content: space-between;
  width: 220px;
}

.price-max input,
.price-min input {
  width: 95px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #00ca74;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.checkbox,
.radio {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.filter-submit {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.avantages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 0;
}

.category {

  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  width: 300px;
}

.category h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  padding-left: 25px;
}

.category a {

  max-width: 135px;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgba(229, 229, 229, 0.9);
}

.category a:hover,
.category a:focus {
  background-color: rgba(204, 204, 204, 0.8);
}

.category a:active {
  background-color: rgba(178, 178, 178, 0.7);
}

.category.materials {
  height: 123px;
  margin: 0;
  background-color: rgb(255, 191, 71);
  order: 1;
}

.button.materials {
  background-color: rgb(229, 172, 69);

}

.category.tool {
  height: 123px;
  margin-left: 20px;
  background-color: rgb(59, 188, 227);
  order: 2;
}

.button.tool  {
  background-color: rgb(53, 169, 204);
}

.category.equipment {
  height: 123px;
  margin-left: 20px;
  background-color: rgb(220, 145, 216);
  order: 3
}

.button.equipment {
  background-color: rgb(198, 130, 194);
}

.category-wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 20px;
  margin-left: 20px;
  order: 5;
}

.category.discounts {
  height: 123px;
  margin-bottom: 20px;
  background-color: rgb(142, 215, 143);
}

.button.discounts {
  background-color: rgb(128, 193, 128);
}

.category.delivery {
  width: 300px;
  height: 123px;
  background-color: rgb(255, 192, 71);
}

.button.delivery {
  background-color: rgb(229, 172, 64);
}

/*  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

}*/

.slider-content {
  margin-top: 20px;
  order: 4;
}

.slider-tools {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;/* временно*/
}

.slider-tools ul {
  list-style: none;
}

.slider-tools h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slider-tools p {
  font-size: 14px;
  line-height: 18px;
}

.slider-visually img {
  width: 620px;
  margin: 0;
  padding: 0;
}

.slider-hidden {
  display: none;
}

.popular {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: rgb(243, 247, 249);
}

.popular h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  color: rgb(50, 66, 92);
  background-color: rgb(243, 247, 249);
  text-transform: uppercase;
}

.popular a {
  width: 255px;
  height: 40px;
  text-align: center;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 11px;
}

.brands-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 0;
}

.brands-item {
  width: 218px;
  height: 145px;
  background-color: #ffffff;
}

.catalog-item,
.brands-item {
  border: 1px solid rgb(243,247,249);
}

.catalog-item:hover,
.brands-item:hover,
.catalog-item:focus,
.brands-item:focus {
  box-shadow: 10px 0 25px 0 rgba(41, 52, 73, 0.5);
}

.brands-item:active {
  box-shadow: 4px 0 10px 0 rgba(41, 52, 73, 0.5)
}

.brands-item.bosch {
  margin-bottom: 20px;
}

.brands-item.bosch img {
  padding: 54px 47px;
}

.brands-item.makita {
  margin-bottom: 20px;
  margin-left: 20px;
}

.brands-item.makita img {
  padding: 52px 48px;
}

.brands-item.dewalt {
  margin-bottom: 20px;
  margin-left: 20px;
}

.brands-item.dewalt img {
  padding: 50px 36px;
}

.brands-item.intersckol {
  margin-bottom: 20px;
  margin-left: 20px;
}

.brands-item.intersckol img {
  padding: 39px 0;
}

.brands-item.hitachi img {
  padding: 57px 25px;
}

.brands-item.lg {
  margin-left: 20px;
}

.brands-item.lg img {
  padding: 36px 49px;
}

.brands-item.aeg {
  margin-left: 20px;
}

.brands-item.aeg img {
  padding: 24px 34px;
}

.brands-item.metabo {
  margin-left: 20px;
}

.brands-item.metabo img {
  padding: 38px 8px;
}


.filter-price  {
  background-color: rgb(247, 243, 236);
  color: #ffffff;
}

.pagination-list {
  display: flex;
}

.pagination-item {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  border: 1px solid rgb(229, 229, 229);
}

.pagination-item:hover,
.pagination-item:focus {
  border: 1px solid rgb(189, 198, 202);
}

.pagination-item:active {
  border: 1px solid rgb(238, 54, 67);
}

.pagination-item-current {
  color: #ffffff;
  background-color: rgb(238, 54, 67);
}

.pagination-item.button {
  width: 140px;
  margin-left: 5px;
  color: #000000;
  background-color: #ffffff;
}

.slider-service {
  background-color: rgb(243, 247, 249);
}

.service-items {
  display: flex;

  flex-wrap: wrap;
  padding-bottom: 65px
}

.service-shop {
  display: inline-block;
  width: 400px;
  height: 100px;
  margin-top: 65px;
  margin-right: 450px;
  padding: 0;
}

.service-shop h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.slider-service h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  color: rgb(50, 66, 92);
}

.slider-service p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.service-list table {
  width: 240px;
  height: 183px;
  margin-top: 75px;
}

.service-list td{
  padding: 23px;
  font-size: 21px;
  background-color: rgb(50,66,92);
  color: #ffffff;

}

.active td{
  background-color: #ffffff;
  color: #000000;
}

.service-delivery.active {
  width: 250px;
  margin-top: 40px;
  margin-left: 80px;
}

.service-credit,
.service-guarantee {
  display: none;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
  padding-bottom: 85px;
  padding-left: 10px;
  padding-right: 10px;
}

.delivery {
  width: 540px;
  margin: 0 auto;
  padding: 0;
}

.contacts {
  width: 300px;
  margin: 0 auto;
  padding: 0;
}

.delivery h2,
.contacts h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.delivery p,
.contacts p {
  font-size: 13px;
  line-height: 24px;
}

.delivery-item {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
}

.info-tools {
  background-color: rgb(242, 246, 248);
}

.info-tools h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.info-tools p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  background-color: rgb(50, 66, 92);
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.main-footer ul {
  list-style: none;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.footer-site-navigation {
  width: 350px;
  padding: 0;
  margin-top: 0;
  margin-left: auto;

}

.footer-catalog-navigation {
  width: 525px;
  margin-top: 0;
  margin-left: auto;
  margin-right: 0;
  padding: 0;

}

.footer-contacts {
  width: 330px;
  margin-top: 25px;
  margin-left: 0;
  margin-right: 0;

}

.footer-catalog-navigation a:hover,
.footer-catalog-navigation a:focus,
.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
  text-decoration: underline;
}

.footer-catalog-navigation a:active,
.footer-site-navigation a:active {
  opacity: 0.5;
}

.footer-catalog-navigation a {
  color: rgb(255, 217, 150);
}

.catalog-navigation a:active {
  opacity: 0.5;
}

.footer-item {
  background-color: rgb(41, 52, 73);
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  width: 100%;
  margin-top: 0;
}

.footer-index-columns {
  display: flex;
}

.footer-develop a,
.footer-feedback a {
  color: rgb(255, 217, 150);
}

.footer-develop a:hover,
.footer-develop a:focus,
.footer-feedback a:hover,
.footer-feedback a:focus {
  text-decoration: underline;
}

.footer-develop a:active,
.footer-feedback a:active {
  color:rgb(238, 54, 67);
}

.modal-write-us {
  border-top: 7px solid rgb(255,83,87);
  box-shadow: 20px 0 40px 0 rgba(41, 52, 73, 0.25);
}

.modal-write-us label {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
}

.modal-write-us placeholder,
.modal-write-us textarea {
  font-size: 13px;
  line-height: 18px;
  color: rgb(169, 169, 169);
  border: 2px solid rgb(169, 169, 169);
  border-radius: 1px;
}

.button-submit {
  background-color: rgb(244, 244, 244);
}

.modal-choice {
  border-top: 7px solid rgb(255,83,87);
  box-shadow: 20px 0 40px 0 rgba(41, 52, 73, 0.25);
}

.modal-choice h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.modal-choice-button {
  background-color: rgb(241, 241, 241);
}

.button.check {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgb(238, 54, 67);
}

.button.continue {
  color:#000000;
  background-color: #ffffff;
}
