body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans",Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  font-style: normal;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.main-header {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-header ul {
  list-style: none;
}

.button-logo {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  background-color: rgb(238, 54, 67);
  box-shadow: 0 5px 0 rgb(181, 41, 51);
}

.button-logo:hover,
.button-logo:focus {
 background-color: rgb(202, 44, 55);
}

.button-logo:active {
  background-color: rgb(186, 39, 50);
}

.search-text  {
  font-size: 17px;
  line-height: 18px;
  background-color: rgb(41, 52, 73);
  color: #ffffff;
}

.search-text:focus {
  background-color: rgb(33, 42, 58);
}

.search-text:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

.user-navigation a,
.user-navigation a:focus {
  font-size: 17px;
  line-height: 18px;
  background-color: rgb(41, 52, 73)
  color: #ffffff;
}

.user-navigation a:hover {
  background-color: rgb(33, 42, 58)
}

.user-navigation a:active {
  opacity: 0.4;
}

.user-navigation .basket{
  font-size: 17px;
  line-height: 18px;
  background-color: rgb(238, 54, 67);
}

.user-navigation .button {
  font-size: 17px;
  line-height: 18px;
  background-color: rgb(99, 166, 62);
}

.user-navigation .button:hover,
.user-navigation .button:focus {
  background-color: rgb(95, 187, 45);
}

.user-navigation .button:active {
  opacity: 0.4;
}

.header-user-navigation {
  background-color: rgb(41, 52, 73);
  color: #ffffff;
}

.main-navigation {
  background-color: rgb(243, 247, 249);
}

.main-navigation .page-title {
  font-size: 16px;
  line-height: 23px;
  color: rgb(238,54,67);
  font-style: italic;
}

.main-navigation .phone {
  font-size: 21px;
  line-height: 21px;
  color: rgb(238, 54, 67);
  border: 3px solid #ffffff;
}

.main-navigation .address {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.user a,
.profile  {
  font-size: 21px;

  color: #000000;
  background-color: #ffffff;
}

.user a:hover,
.user a:focus {
  color: rgb(238, 54, 67);
}

.user a:active {
  color: #000000;
  opacity: 0.7;
}

.profile:active {
  background-color: #ffffff;
  opacity: 0.7;
}

.orders a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: rgb(50, 66, 92);
}

.orders a:hover,
.orders a:focus {
  color: rgb(238, 54, 67);
}

.orders a:active {
  color: rgb(50, 66, 92);
  opacity: 0.7;
}

.site-navigation {
  background-color: rgb(50, 66, 92);
  box-shadow: 0 5px 0 rgb(41, 52, 73);
}

.site-navigation a {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: rgb(41, 52, 73);
}

.site-navigation a:active {
  opacity: 0.5;
}

.base ul {
  list-style: none;
}

.breadcrumbs a,
.breadcrumbs-carrent {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.base h1 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  color: rgb(50, 66, 92);
  text-transform: uppercase;
  background-color: rgb(242, 246, 248);
}

.catalog-item-title a {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.catalog-item-price b {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: rgb(169, 169, 169);
}

.catalog-item-price .price {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: rgb(238, 54, 67);
}

.catalog-item-image .button {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-item-image .button:nth-child(1) {
  color: #ffffff;
  background-color: rgb(99, 166, 62);
  box-shadow: 0 3px 0 rgb(54, 115, 21);
}

.catalog-item-image .button:nth-child(1):hover,
.catalog-item-image .button:nth-child(1):focus {
  background-color: rgb(95, 187, 45);
}

.catalog-item-image .button:nth-child(1):active {
  background-color: rgb(54, 115, 21);
}

.catalog-item-image .button:nth-child(2) {
  color: rgb(50, 66, 92);
  background-color: #ffffff;
  border: 3px solid rgb(99, 166, 62);
}

.catalog-item-image .button:nth-child(2):hover,
.catalog-item-image .button:nth-child(2):focus {
  border: 3px solid rgb(50, 66, 92);
}

.catalog-item-image .button:nth-child(2):active {
  opacity: 0.7;
}

.sort {
  background-color: rgb(247, 243, 236);
}

.filters h2,
.sort h2 {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  background-color: rgb(247, 243, 236);
}

.sort-item {
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  border-bottom: 1px solid rgb(238, 54, 67);
}

.sort-item:focus,
.sort-item:hover {
  color: #000000;
}

.sort-item-current {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgb(238, 54, 67);
}

.filters fieldset {
  border: none;
}

.filters legend,
.filters h3 {
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.checkbox,
.radio {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.filter-submit {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.category-item {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
}

.category-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.category-item a {
  font-size: 14px;
  line-height: 18px;
  opacity: 0.9;
}

.category-item a:hover,
.category-item a:focus {
  opacity: 0.8;
}

.category-item a:active {
  opacity: 0.7;
}

.category-item-materials {
  background-color: rgb(255, 191, 71);
}

.category-item-materials a {
  background-color: rgb(229, 172, 69);
}

.category-item-tool {
  background-color: rgb(59, 188, 227);
}

.category-item-tool a {
  background-color: rgb(53, 169, 204);
}

.category-item-equipment {
  background-color: rgb(220, 145, 216);
}

.category-item-equipment a {
  background-color: rgb(198, 130, 194);
}

.category-item-discounts {
  background-color: rgb(142, 215, 143);
}

.category-item-discounts a {
  background-color: rgb(128, 193, 128);
}

.category-item-delivery {
  background-color: rgb(255, 192, 71);
}

.category-item-delivery a {
  background-color: rgb(229, 172, 64);
}

.slider-tools {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;/* временно*/
}

.slider-tools ul {
  list-style: none;
}

.slider-tools h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slider-tools p {
  font-size: 14px;
  line-height: 18px;
}

.slider-tools a {
  font-size: 14px;
  line-height: 18px;
  background-color: rgb(238, 54, 67);
  text-transform: uppercase;
}

.slider-tools a:hover,
.slider-tools a:focus {
  background-color: rgb(202, 44, 55);
}

.slider-tools a:active {
  background-color: rgb(186, 39, 50);
}

.popular-goods h2,
.brands h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  color: rgb(50, 66, 92);
  background-color: rgb(243,247,249);
  text-transform: uppercase;
}

.pop-goods-button,
.brands-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: rgb(238, 54, 67);
  text-transform: uppercase;
}

.pop-goods-button:hover,
.brands-button:hover,
.pop-goods-button:focus,
.brands-button:focus {
  background-color: rgb(202, 44, 55);
}

.pop-goods-button:active,
.brands-button:active {
  background-color: rgb(186, 39, 50);
}

.popular,
.slider-service {
  background-color: rgb(243,247,249);
}

.catalog-item,
.brands-item {
  border: 1px solid rgb(243,247,249);
}

.catalog-item:hover,
.brands-item:hover,
.catalog-item:focus,
.brands-item:focus {
  box-shadow: 10px 0 25px 0 rgba(41, 52, 73, 0.5);
}

.brands-item:active {
  box-shadow: 4px 0 10px 0 rgba(41, 52, 73, 0.5)
}

.filter-price  {
  background-color: rgb(247, 243, 236);
  color: #ffffff;
}

.pagination-item {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  border: 1px solid rgb(229, 229, 229);
}

.pagination-item:hover,
.pagination-item:focus {
  border: 1px solid rgb(189, 198, 202);
}

.pagination-item:active {
  border: 1px solid rgb(238, 54, 67);
}

.pagination-item-current {
  color: #ffffff;
  background-color: rgb(238, 54, 67);
}

.slider-service h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.slider-service h3 {
  font-size: 36px;
  line-height: 36px;
  color: rgb(50, 66, 92);
}

.slider-service p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.service-list {
  font-size: 21px;
  background-color: rgb(50,66,92);
  color: #ffffff;
}

.service-list .active {
  background-color: #ffffff;
  color: #000000;
}

.service-credit a {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: rgb(238, 54, 67);
  text-transform: uppercase;
}

.service-credit a:hover,
.service-credit a:focus {
  background-color: rgb(202, 44, 55);
}

.service-credit a:active {
  background-color: rgb(186, 39, 50);
}

.delivery h2,
.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.delivery p,
.contacts p {
  font-size: 13px;
  line-height: 24px;
}

.delivery-item {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
}

.delivery .button,
.contacts .button {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgb(238, 54, 67);
}

.delivery .button:hover,
.contacts .button:hover,
.delivery .button:focus,
.contacts .button:focus {
  background-color: rgb(202, 44, 55);
}

.delivery .button:active,
.contacts .button:active {
  background-color: rgb(186, 39, 50);
}
.info-tools {
  background-color: rgb(242, 246, 248);
}

.info-tools h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.info-tools p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-footer ul {
  list-style: none;
}

.footer-navigation,
.footer-contacts  {
  background-color: rgb(50, 66, 92);
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.footer-catalog-navigation a:hover,
.footer-catalog-navigation a:focus,
.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
  text-decoration: underline;
}

.footer-catalog-navigation a:active,
.footer-site-navigation a:active {
  opacity: 0.5;
}

.footer-catalog-navigation a {
  color: rgb(255,217,150);
}

.catalog-navigation a:active {
  color: rgba(255, 217, 150, 0.5);
}

.footer-item {
  background-color: rgb(41, 52, 73);
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.footer-develop a,
.footer-feedback a {
  color: rgb(255, 217, 150);
}

.footer-develop a:hover,
.footer-develop a:focus,
.footer-feedback a:hover,
.footer-feedback a:focus {
  text-decoration: underline;
}

.footer-develop a:active,
.footer-feedback a:active {
  color:rgb(238, 54, 67);
}

.modal-write-us {
  border-top: 7px solid rgb(255,83,87);
  box-shadow: 20px 0 40px 0 rgba(41, 52, 73, 0.25);
}

.modal-write-us label {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
}

.modal-write-us placeholder,
.modal-write-us textarea {
  font-size: 13px;
  line-height: 18px;
  color: rgb(169, 169, 169);
  border: 2px solid rgb(169, 169, 169);
  border-radius: 1px;
}

.button-submit {
  background-color: rgb(244, 244, 244);
}

.modal-write-us .button {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgb(238, 54, 67);
}

.modal-write-us .button:hover,
.modal-write-us .button:focus {
  background-color: rgb(202, 44, 55);
}

.modal-write-us .button:active {
  background-color: rgb(186, 39, 50);
}

.modal-choice {
  border-top: 7px solid rgb(255,83,87);
  box-shadow: 20px 0 40px 0 rgba(41, 52, 73, 0.25);
}

.modal-choice h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.modal-choice-button {
  background-color: rgb(241, 241, 241);
}

.modal-choice-button a:nth-child(1) {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgb(238, 54, 67);
}

.modal-choice-button a:nth-child(2) {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color:#000000;
  text-transform: uppercase;
  background-color: #ffffff;
}
